<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class=" m-3 navbar-brand" routerLink="home">Tela inicial</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <a class="nav-link " routerLink="admin">Cadastrar um produto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="anuncio">Anúncios</a>
        </li>
      </ul>
    </div>
  </nav>